@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white:#ffffff;
}

h1,h6,p{
    color:var(--white);
    font-weight: bolder;
    margin-right: 5%; 
}


.logo{
   background-image: url(../images/h_img.jpg) ;
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   position:relative;
   
}
h6{
    padding-bottom: 13.6% ;
}

.hero{
    background:var(--white);
  
}

#about{  
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:white;
    
}

.about-us{
    color: black;
    text-transform: uppercase;
}

 .content {
    color: black;
    font-weight: 400;
    font-size: 13px;
}

#services{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:white;

    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-size: auto 100%;
 
}
.my-services{
    color: white;
    text-transform: uppercase;
}
.services-content{
    color: white;
    font-weight: 400;
    font-size: 13px;
    font-weight: 500;
}

#what-we-do{

    padding-top: 100px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
    

}
.we-do{
    color: black;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.des-showing{
    display: none;
}

.para-des{
    font-weight: 400;
    font-size: 13px;
}

.dev-showing{
    display: none;
}
.para-dev{
    font-weight: 400;
    font-size: 13px;
}

.prod-showing{
    display: none;
}
.para-prod{
    font-weight: 400;
    font-size: 13px;
}

#portfolio{
    padding-top: -60%;
    padding-bottom: 100px;
    background-color:white;
}
.portfolio-section{
    color: black;
    text-transform: uppercase;
    padding-bottom: 30px;

}





