@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white:#ffffff;
}

h1,h6,p{
    color:var(--white);
    font-weight: bolder;
    margin-right: 5%;
   
}

body{
   background-image: url(../images/h_img.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
  background-attachment: fixed;
 
  
   background-position: center;
   
}
h6{
    padding-bottom: 13.6% ;
}

.hero{
    background:var(--white);
  
}

#about{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:white;
    
}

.about-us{
    color: black;
    text-transform: uppercase;
}

 .content {
    color: black;
    font-weight: 400;
    font-size: 13px;
}

#services{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:white;
    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
   background-position: center;
    
  

}
.my-services{
    color: white;
    text-transform: uppercase;
}
.services-content{
    color: white;
    font-weight: 400;
    font-size: 13px;
    font-weight: 500;
}


